// .header-container {
//     width: 100%;
//     height: 70px;
//     background-image: linear-gradient(to bottom, #008abf, #0f607f);
//     position: relative;
//     color: white;
//     font-weight: bold;
//     font-size: 25px;

//     .btn-show-nav {
//         display: none;
//         position: absolute;
//         left: 10px;
//         width: fit-content;
//         // display: flex;
//         align-items: center;
//         height: 100%;
//         // background-color: red;
//         padding: 0 10px;
//         border-radius: 5px;

//         img {
//             height: 100%;
//         }

//         // background: url(../../../public//menu.png) no-repeat center center;

//     }

//     .admin-name {
//         position: absolute;
//         right: 10px;
//         top: 50%;
//         bottom: 50%;
//         display: flex;
//         align-items: center;

//         .btn-logout {
//             border: none;
//             background-color: #ffffff;
//             box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
//             border-radius: 5px;
//             padding: 5px 10px;
//             cursor: pointer;
//             margin: 0 10px;
//         }

//         .btn-logout:hover {
//             background-color: #a9acad;
//             box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
//         }
//     }
// }


// //Ipad
// @media (max-width: 840px) {
//     .header-container {
//         .btn-show-nav {
//             display: flex;
//         }

//         .admin-name {
//             h3 {
//                 display: none;
//             }
//         }
//     }


// }


.header-container {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 25px;

    .btn-show-nav {
        display: none;
        position: absolute;
        left: 10px;
        width: fit-content;
        // display: flex;
        align-items: center;
        height: 100%;
        // background-color: red;
        padding: 0 10px;
        border-radius: 5px;

        img {
            height: 100%;
        }

        // background: url(../../../public//menu.png) no-repeat center center;
    }

    .admin-name {
        position: absolute;
        right: 10px;
        top: 50%;
        bottom: 50%;
        display: flex;
        align-items: center;
        color: black;

        .btn-logout {
            border: none;
            background-color: #ffffff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            margin: 0 10px;
        }

        .btn-logout:hover {
            background-color: #a9acad;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }
    }
}

//Ipad
@media (max-width: 840px) {
    .header-container {
        .btn-show-nav {
            display: flex;
        }

        .admin-name {
            h3 {
                display: none;
            }
        }
    }
}