.admin-customer-manager {
  position: relative;

  h1 {
    padding: 10px 0;
    background-color: rgb(231 231 231);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .page-struct {
    h3 {
      font-weight: bold;
      font-size: 20px;
    }

    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    min-height: 100vh;

    .filter-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .search-bar {
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        .form-search {
          display: flex;
          align-items: center;

          input[type="text"] {
            padding: 8px;
            // border: 1px solid #ccc;
            border: 1px solid #6c757d;
            border-radius: 4px;
            outline: none;
            font-size: 16px;
          }

          button {
            padding: 8px 16px;
            font-size: 16px;
            background-color: #00ab9f;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin-left: 8px;

            &:hover {
              background-color: #45a049;
            }
          }
        }
      }

      #status-filter {
        margin: 5px;
        width: 200px;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #6c757d;
        border-radius: 4px;
        background-color: white;
        // appearance: none;
        outline: none;
        cursor: pointer;

        &:hover {
          border-color: #007bff;
        }

        &:focus {
          box-shadow: 0 0 0 2px #007bff;
        }
      }

      // Tùy chọn trong <select>
      option {
        padding: 8px;

        &:hover {
          background-color: #007bff;
          color: white;
        }

        &:checked {
          background-color: #6c757d;
          color: white;
        }
      }
    }

    table {
      // border-radius: 10px;
      width: 100%;
      border-collapse: collapse;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

      thead {
        th {
          padding: 10px;
          text-align: center;
          border: 1px solid #ddd;
          background-color: #f8f6f0;
          font-weight: bold;
        }
      }

      tbody {
        tr {
          td {
            background-color: white;
            padding: 5px;
            text-align: center;
            border: 1px solid #ddd;
            vertical-align: middle;

            .icon-view {
              display: block;
              margin: auto;
            }

            .icon-view:hover {
              opacity: 0.7;
            }

            td:nth-child(2) {
              width: 200px;
              /* Chiều rộng là 200px cho cột thứ hai */
            }

            .avatar {
              height: 100px;
              width: 80px;
              border-radius: 5px;
              display: flex;
              justify-content: center;
              // padding-left: 70px;
              margin: auto;
            }

            .button-group {
              display: flex;
              justify-content: center;
              align-items: center;

              select {
                background-color: rgb(0, 217, 255);
                border-radius: 5px;
                padding: 4px;

                display: flex;
                margin-right: 2px;
                justify-content: center;
                margin-right: 2px;

                // option:first-child {
                //     background-color: transparent;
                //     color: transparent;
                //     border: none;
                // }
              }

              button {
                display: flex;
                align-items: center;
              }

              .btn-comfirm {
                background-color: rgb(0, 195, 255);
                border: 1px solid black;
                padding: 5px;
                border-radius: 5px;
                display: flex;

                img {
                  margin-right: 2px;
                  height: 20px;
                  width: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

//Ipad
@media (max-width: 450px) {
  .admin-customer-manager {
    .page-struct {
      padding: 0;
      overflow-x: scroll;

      .filter-container {
        justify-content: center;
      }

      table {
        tbody {
          tr {
            td {
              .button-group {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  .rp-none {
    display: none;
  }
}
