.DieuKhoan {
  padding: 20px;
  text-align: justify;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    background-color: white;
    text-align: center;
  }

  strong {
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  h2 {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  p {
    margin-bottom: 20px;
  }
}