.UaThich {
  margin: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      th {
        padding: 10px;
        text-align: center;
        border: 1px solid #ddd;
        background-color: #f8f6f0;
        font-weight: bold;
      }
    }

    tbody {
      tr {
        td {
          background-color: #ffffff;
          padding: 10px;
          text-align: center;
          border: 1px solid #ddd;
        }
      }
    }
  }
}
