// .page-detail-container {
//     width: 80%;
//     margin: 20px auto;

//     .product-reviews {
//         p {
//             font-size: 20px;
//             color: black;
//             font-weight: bold;
//         }

//         a {
//             font-size: 20px;
//         }

//         .write-comment {
//             width: 100%;
//             height: 100px;
//             // padding: 10px;
//             margin-bottom: 10px;
//             font-size: 20px;
//         }

//         margin-left:0;
//         cursor: pointer;
//         color: #ccc;
//         font-size: 35px;

//         button {
//             cursor: pointer;
//             font-size: 20px;
//             margin-left: 0px;
//             padding: 10px 20px;
//             border-style: none;
//             border-radius: 5px;
//             background-color: #2766ec;
//             color: white;
//             box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);


//         }

//         .rating {
//             display: inline-block;
//             margin-right: 5px;
//             transition: color 0.3s;
//             /* Thêm transition để tạo hiệu ứng mượt */
//             cursor: pointer;

//             .selected {
//                 // color: yellow;
//             }

//             &.highlight {
//                 color: yellow;
//             }
//         }
//     }

//     .product-details {
//         // text-align: center;
//         display: flex;

//         .image {
//             flex: 5;
//             min-width: 40%;
//             // padding: 50px;
//             padding: 50px 20px;

//             text-align: center;
//             display: flex;
//             // max-height: 600px;
//             max-height: 800px;
//             min-height: 550px;

//             .large_img {

//                 img {
//                     width: 100%;
//                     // flex: 3;
//                     // width: 50%;
//                     height: auto;
//                     margin-bottom: 20px;
//                     box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);

//                 }
//             }

//             .product-details__small {
//                 margin: 5px 0;
//                 text-align: center;
//                 margin: 0 20px;
//                 flex: 1;


//                 .product-details__small-img {
//                     width: 82px;
//                     height: 82px;
//                     box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
//                     border-radius: 2px;
//                     margin-left: 5px;
//                     margin: 10px;

//                     // margin: auto;

//                     img {
//                         width: 100%;
//                     }

//                 }

//                 .isChoose {
//                     border: 2px solid red;
//                 }

//                 .product-details__small-img:hover {
//                     opacity: 0.7;

//                 }
//             }


//         }

//         .detail {
//             // width: 60%;
//             padding: 50px 20px;

//             flex: 5;

//             h1 {
//                 font-weight: bold;
//                 font-size: 30px;
//             }

//             .product-price {
//                 span {
//                     font-size: 25px;
//                     color: red;
//                     font-weight: bold;
//                 }
//             }

//             .quantity-remaining,
//             .product-price,
//             .product-category,
//             .product-publisher,
//             .product-quantity,
//             .info {
//                 margin-bottom: 10px;
//                 font-weight: bold;
//                 font-size: 20px;
//             }

//             .product-publisher {
//                 background-color: #e1e1e1;
//                 padding: 10px 0;
//             }

//             .product-quantity {
//                 .quantity-input {
//                     display: flex;
//                     align-items: center;

//                     input {
//                         width: 40px;
//                         padding: 5px;
//                         border: 1px solid #ccc;
//                         border-radius: 4px;
//                         text-align: center;
//                     }

//                     button {
//                         background-color: #007bff;
//                         color: #fff;
//                         border: none;
//                         border-radius: 4px;
//                         padding: 5px 10px;
//                         cursor: pointer;
//                         margin: 0 5px;
//                     }
//                 }
//             }

//             // .product-quantity input {
//             //     width: 50px;
//             //     padding: 5px;
//             // }

//             .product-rating-statis {

//                 font-size: 20px;

//                 /* Màu cho sao được chọn */
//                 .star {
//                     color: #888;
//                     font-size: 25px;
//                 }

//                 .highlight {
//                     color: #f1921c;

//                 }
//             }


//             .buy-button,
//             .favorite-button {
//                 padding: 10px 20px;
//                 font-size: 16px;
//                 background-color: #4CAF50;
//                 color: white;
//                 border: none;
//                 cursor: pointer;
//                 margin-right: 20px;
//                 margin-top: 20px;
//                 margin-bottom: 20px;
//                 // margin: 10px;
//                 border-radius: 5px;
//                 box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);

//             }

//             .buy-button:hover {
//                 opacity: 70%;
//             }

//             .favorite-button:hover {
//                 opacity: 70%;
//             }

//             .favorite-button {
//                 background-color: #f44336;
//             }
//         }



//     }

//     .product-description {
//         .title {
//             font-weight: bold;
//             font-size: 25px;
//         }

//         .content {
//             font-size: 20px;
//             text-align: justify;
//         }
//     }

//     .review-list {
//         .title {
//             font-size: 25px;
//             font-weight: bold;
//             margin: 10px 0;
//         }

//         .review {
//             margin-bottom: 20px;

//             .rating {
//                 margin-bottom: 10px;

//                 .stars {
//                     font-size: 20px;
//                     color: gold;
//                 }
//             }

//             .customer {
//                 font-size: 16px;
//                 font-weight: bold;
//                 margin-bottom: 5px;
//             }

//             .comment {
//                 font-size: 16px;
//             }
//         }
//     }

//     .category {
//         position: relative;

//         .title {
//             margin-top: 30px;
//             font-size: 30px;
//             margin-left: 5px;
//             margin-bottom: 5px;
//             // font-style: bolt;
//             font-weight: bold;

//             label {
//                 padding: 5px;
//                 display: block;
//                 background-color: rgb(223, 222, 222);
//                 border-radius: 10px;
//             }
//         }

//         .next-button {
//             right: -20px;
//             top: 50%;
//             padding: 20px;
//             border: none;
//             background-color: rgba(141, 117, 117, 0.164);
//             border-radius: 5px;
//             position: absolute;
//         }

//         .next-button:hover {
//             background-color: rgba(25, 21, 219, 0.3);
//         }

//         .prev-button {
//             left: -20px;
//             top: 50%;
//             padding: 20px;
//             border: none;
//             background-color: rgba(141, 117, 117, 0.164);
//             border-radius: 5px;
//             position: absolute;
//         }

//         .prev-button:hover {
//             background-color: rgba(25, 21, 219, 0.3);
//         }

//         .list-item {
//             display: flex;
//             overflow-x: hidden;

//             .product-card {
//                 height: 355px;
//                 max-height: 355px;
//                 cursor: pointer;
//                 margin: 5px;
//                 width: 200px;
//                 min-width: 200px;

//                 border: 1px solid #ccc;
//                 border-radius: 5px;
//                 padding: 15px;
//                 box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
//                 transition: box-shadow 0.3s ease;

//                 &:hover {
//                     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
//                 }

//                 .product-image {
//                     img {
//                         width: 100%;
//                         height: auto;
//                     }
//                 }

//                 .product-info {
//                     margin-top: 10px;

//                     .product-title {
//                         font-size: 18px;
//                         font-weight: bold;
//                         margin-bottom: 5px;

//                         overflow: hidden;
//                         text-overflow: ellipsis;
//                         white-space: normal;
//                         display: -webkit-box;
//                         -webkit-line-clamp: 3;
//                         -webkit-box-orient: vertical;
//                     }

//                     .product-author {
//                         font-size: 14px;
//                         color: #888;

//                         overflow: hidden;
//                         text-overflow: ellipsis;
//                         white-space: normal;
//                         display: -webkit-box;
//                         -webkit-line-clamp: 1;
//                         -webkit-box-orient: vertical;
//                     }

//                     .product-price {
//                         font-size: 16px;
//                         font-weight: bold;
//                         color: #f00;
//                         margin-top: 5px;
//                     }

//                     .product-rating {

//                         /* Màu cho sao được chọn */
//                         .star {
//                             color: #888;
//                             font-size: 20px;
//                         }

//                         .highlight {
//                             color: #f1921c;
//                         }
//                     }


//                 }


//             }
//         }
//     }

// }


// //Ipad
// @media (max-width: 840px) {
//     .page-detail-container {
//         width: 100%;

//         .product-details {
//             display: block;

//             .image {
//                 padding: 20px;
//                 max-height: none;
//                 min-height: 0;

//                 .product-details__small {
//                     display: none;
//                 }

//                 .large_img {
//                     width: 100%;
//                 }
//             }

//             .detail {
//                 padding: 20px;
//             }
//         }

//         .product-description {
//             padding: 20px;
//         }

//         .review-list {
//             padding: 20px;
//         }
//     }

// }


// //Diện thoại
// @media (max-width: 450px) {
//     .page-detail-container {
//         width: 100%;

//         .product-details {
//             display: block;

//             .image {
//                 padding: 10px;
//                 max-height: none;
//                 min-height: 0;

//                 .product-details__small {
//                     display: none;
//                 }

//                 .large_img {
//                     width: 100%;
//                 }
//             }

//             .detail {
//                 padding: 10px;
//             }
//         }

//         .product-description {
//             padding: 10px;
//         }

//         .review-list {
//             padding: 10px;
//         }
//     }

// }


.page-detail-container {
    width: 80%;
    margin: 20px auto;

    .product-reviews {
        p {
            font-size: 20px;
            color: black;
            font-weight: bold;
        }

        a {
            font-size: 20px;
        }

        .write-comment {
            width: 100%;
            height: 100px;
            // padding: 10px;
            margin-bottom: 10px;
            font-size: 20px;
        }

        margin-left: 0;
        cursor: pointer;
        color: #ccc;
        font-size: 35px;

        button {
            cursor: pointer;
            font-size: 20px;
            margin-left: 0px;
            padding: 10px 20px;
            border-style: none;
            border-radius: 5px;
            background-color: #36c4ba;
            color: white;
            box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
                0 2px 6px 2px rgba(60, 64, 67, 0.15);
        }

        button:hover {
            background-color: #0c5853;
        }

        .rating {
            display: inline-block;
            margin-right: 5px;
            transition: color 0.3s;
            /* Thêm transition để tạo hiệu ứng mượt */
            cursor: pointer;

            .selected {
                // color: yellow;
            }

            &.highlight {
                color: yellow;
            }
        }
    }

    .product-details {
        // text-align: center;
        display: flex;

        .image {
            flex: 5;
            min-width: 40%;
            // padding: 50px;
            padding: 50px 20px;

            text-align: center;
            display: flex;
            // max-height: 600px;
            max-height: 800px;
            min-height: 550px;

            .large_img {
                img {
                    width: 100%;
                    // flex: 3;
                    // width: 50%;
                    height: auto;
                    margin-bottom: 20px;
                    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
                        0 2px 6px 2px rgba(60, 64, 67, 0.15);
                }
            }

            .product-details__small {
                margin: 5px 0;
                text-align: center;
                margin: 0 20px;
                flex: 1;

                .product-details__small-img {
                    width: 82px;
                    height: 82px;
                    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
                        0 2px 6px 2px rgba(60, 64, 67, 0.15);
                    border-radius: 2px;
                    margin-left: 5px;
                    margin: 10px;

                    // margin: auto;

                    img {
                        width: 100%;
                    }
                }

                .isChoose {
                    border: 2px solid #00ab9f;
                }

                .product-details__small-img:hover {
                    opacity: 0.7;
                }
            }
        }

        .detail {
            // width: 60%;
            padding: 50px 20px;

            flex: 5;

            h1 {
                font-weight: bold;
                font-size: 30px;
            }

            .product-price {
                span {
                    font-size: 25px;
                    color: red;
                    font-weight: bold;
                }
            }

            .quantity-remaining,
            .product-price,
            .product-category,
            .product-publisher,
            .product-quantity,
            .info {
                margin-bottom: 10px;
                font-weight: bold;
                font-size: 20px;
            }

            .product-publisher {
                // background-color: #e1e1e1;
                padding: 10px 0;
            }

            .product-quantity {
                .quantity-input {
                    display: flex;
                    align-items: center;

                    input {
                        width: 40px;
                        padding: 5px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        text-align: center;
                    }

                    button {
                        // background-color: #21a097;
                        color: #858282;
                        border: none;
                        border-radius: 4px;
                        padding: 5px 10px;
                        cursor: pointer;
                        margin: 0 5px;
                    }
                }
            }

            // .product-quantity input {
            //     width: 50px;
            //     padding: 5px;
            // }

            .product-rating-statis {
                font-size: 20px;

                /* Màu cho sao được chọn */
                .star {
                    color: #888;
                    font-size: 25px;
                }

                .highlight {
                    color: #f1921c;
                }
            }

            .buy-button,
            .favorite-button {
                padding: 10px 20px;
                font-size: 16px;
                background-color: #36c4ba;
                color: white;
                border: none;
                cursor: pointer;
                margin-right: 20px;
                margin-top: 20px;
                margin-bottom: 20px;
                // margin: 10px;
                border-radius: 5px;
                box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1),
                    0 2px 6px 2px rgba(60, 64, 67, 0.15);
            }

            .buy-button:hover {
                opacity: 70%;
            }

            .favorite-button:hover {
                opacity: 70%;
            }

            .favorite-button {
                background-color: #36c4ba;
            }
        }
    }

    .product-description {
        .title {
            font-weight: bold;
            font-size: 25px;
        }

        .content {
            font-size: 20px;
            text-align: justify;
        }
    }

    .review-list {
        .title {
            font-size: 25px;
            font-weight: bold;
            margin: 10px 0;
        }

        .review {
            margin-bottom: 20px;

            .rating {
                margin-bottom: 10px;

                .stars {
                    font-size: 20px;
                    color: gold;
                }
            }

            .customer {
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .comment {
                font-size: 16px;
            }
        }
    }

    .category {
        position: relative;

        .title {
            margin-top: 30px;
            font-size: 30px;
            margin-left: 5px;
            margin-bottom: 5px;
            // font-style: bolt;
            font-weight: bold;

            label {
                padding: 10px;
                display: block;
                background-color: #f2f2f2;
                // border-radius: 10px;
                border-bottom: 2px solid #00ab9f;
            }
        }

        .next-button {
            right: -20px;
            top: 50%;
            padding: 10px;
            border: none;
            background-color: rgba(219, 219, 219, 0.164);
            border-radius: 50%;
            position: absolute;
            font-weight: 800;
        }

        .next-button:hover {
            background-color: #28cfc4;
        }

        .prev-button {
            left: -20px;
            top: 50%;
            padding: 10px;
            border: none;
            background-color: rgba(219, 219, 219, 0.164);
            border-radius: 50%;
            position: absolute;
            font-weight: 800;
        }

        .prev-button:hover {
            background-color: #28cfc4;
        }

        .list-item {
            display: flex;
            overflow-x: hidden;

            .product-card {
                height: 355px;
                max-height: 355px;
                cursor: pointer;
                margin: 5px;
                width: 200px;
                min-width: 200px;

                // border: 1px solid #ccc;
                // border-radius: 5px;
                padding: 15px;
                // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                transition: box-shadow 0.3s ease;
                box-sizing: border-box;

                &:hover {
                    //   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                    border: 1px solid rgba(0, 171, 160, 0.301);
                }

                .product-image {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .product-info {
                    margin-top: 10px;

                    .product-title {
                        font-size: 18px;
                        font-weight: bold;
                        margin-bottom: 5px;

                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: normal;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }

                    .product-author {
                        font-size: 14px;
                        color: #888;

                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: normal;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }

                    .product-price {
                        font-size: 16px;
                        font-weight: bold;
                        color: #f00;
                        margin-top: 5px;
                    }

                    .product-rating {

                        /* Màu cho sao được chọn */
                        .star {
                            color: #888;
                            font-size: 20px;
                        }

                        .highlight {
                            color: #f1921c;
                        }
                    }
                }
            }
        }
    }
}

//Ipad
@media (max-width: 840px) {
    .page-detail-container {
        width: 100%;

        .product-details {
            display: block;

            .image {
                padding: 20px;
                max-height: none;
                min-height: 0;

                .product-details__small {
                    display: none;
                }

                .large_img {
                    width: 100%;
                }
            }

            .detail {
                padding: 20px;
            }
        }

        .product-description {
            padding: 20px;
        }

        .review-list {
            padding: 20px;
        }
    }
}

//Diện thoại
@media (max-width: 450px) {
    .page-detail-container {
        width: 100%;

        .product-details {
            display: block;

            .image {
                padding: 10px;
                max-height: none;
                min-height: 0;

                .product-details__small {
                    display: none;
                }

                .large_img {
                    width: 100%;
                }
            }

            .detail {
                padding: 10px;
            }
        }

        .product-description {
            padding: 10px;
        }

        .review-list {
            padding: 10px;
        }
    }
}